@import url("https://fonts.googleapis.com/css2?family=Momo+Signature&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: rgb(89, 89, 89);
  color: white;
  font-family: "Raleway", sans-serif;
}
